.button {
  cursor: pointer;
  background-color: var(--color-button);
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button.disabled {
  cursor: not-allowed;
  background-color: var(--color-button-disabled);
}
