.color-display-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}

.color-display {
  width: 72px;
  height: 25px;
  border-radius: 2px;
}

.color-picker-wrapper {
  position: absolute;
  z-index: 200;
  right: 50px;
}

.color-picker-closer {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
