#main-content {
  position: relative;

  display: flex;
  flex-direction: row;
  min-width: 320px;
  min-height: 88vh;

  border-top: 1px solid var(--color-font);
  border-bottom: 1px solid var(--color-font);

  overflow: hidden;
}

#tab-menu {
  position: relative;
}

#visualization {
  flex-grow: 1;
}

#sidepanel {
  min-width: fit-content;
  min-height: fit-content;
}

@media only screen and (max-width: 700px) {
  #main-content {
    flex-direction: column;
    height: 500px;
  }
}
