:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* color palette */
  --color-off-white: #f9f5f2;
  --color-late-snow: #dddddd;
  --color-bright-snow: #e5e5e5;
  --color-soft-sand: #ede1d5;
  --color-mild-forest: #5f6c37;
  --color-dark-forest: #273617;
  --color-bright-sand: #dca15d;
  --color-red-sand: #bc6c25;

  --color-font: var(--color-dark-forest);
  --color-bg: var(--color-off-white); 
  --color-primary: var(--color-off-white);
  --color-button: var(--color-late-snow);
  --color-button-hover: var(--color-bright-snow);

  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #55b56f;
    --color-button: #8adce2;
    --color-font: #213547;
    --color-bg: #e9ffef;
  }
}
