:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color palette */
  --color-off-white: #f9f5f2;
  --color-late-snow: #dddddd;
  --color-brighter-snow: #fdfbfb;
  --color-bright-snow: #ebebeb;
  --color-soft-sand: #ede1d5;
  --color-mild-forest: #5f6c37;
  --color-dark-forest: #273617;
  --color-bright-sand: #dca15d;
  --color-red-sand: #bc6c25;
  --color-off-black: #222222;
  --color-darker-night: #1e1f24;
  --color-dark-night: #31333b;
  --color-bright-night: #4e5263;

  --color-font: var(--color-dark-forest);
  --color-bg: var(--color-off-white);
  --color-primary: var(--color-off-white);
  --color-button: var(--color-late-snow);
  --color-button-hover: var(--color-bright-snow);
  --color-button-disabled: var(--color-brighter-snow);

  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font: var(--color-soft-sand);
    --color-bg: var(--color-off-black);
    --color-primary: var(--color-off-black);
    --color-button: var(--color-dark-night);
    --color-button-hover: var(--color-bright-night);
    --color-button-disabled: var(--color-darker-night);
  }
}
